/* Config Geral */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Dirt&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

:root {
    --primary-color: ;
    --secondary-color: #CBD2A4;
    --tertiary-color: #9A7E6F;
    --quaternary-color: #54473F;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

p {
    font-family: "Open Sans", sans-serif;
    padding: 5px;
    margin: 0px 10px;
    text-indent: 10px;
}

a {
    text-decoration: underline;
    color: black;
}

/* Títulos e Subtítulos*/

h1,
h2 {
    font-family: "Rubik Dirt", sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px 2px black;
}

h1 {
    font-size: 24pt;
    color: var(--secondary-color);
}

h2 {
    background-image: linear-gradient(to right, var(--quaternary-color), var(--tertiary-color));
    color: lightgray;
    text-indent: 6px;
    padding: 3px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px gray;
    width: 98%;
    margin: auto;
}

h3 {
    font-size: 18pt;
    text-align: center;
}

/* Cabeçalho */

header {
    background-image: linear-gradient(to bottom, var(--tertiary-color), var(--quaternary-color));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.titulo {
    font-family: "Rubik Dirt", sans-serif;
    font-weight: lighter;
    font-size: 16pt;
    color: lightgray;
}

/* Conteúdo principal */

main {
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    padding-top: 10px;
    border-radius: 0px 0px 5px 5px;
}

.container-section {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 5px;
    gap: 8px;
}

.list {
    list-style-position: inside;
    margin: 0px 20px;
}

.img-container {
    background-color: var(--tertiary-color);
    width: 90%;
    margin: auto;
    padding: 1.4vh;
    border-radius: 3px;
}

img {
    width: 100%;
    margin: auto;
}

/*Links*/

.container-links {
    background-color: var(--secondary-color);
    list-style-position: inside;
    padding: 10px;
}

/* Rodapé */

.footer-bottom {
    width: 100vw;
    background-color: black;
    padding: 0.1rem;
    text-align: center;
}

.footer-bottom p {
    color: white;
    text-decoration: none;
}

.footer-bottom>p>a {
    color: white;
    text-decoration: underline;
    padding-left: 5px;
}

.footer-bottom a:hover {
    transform: scale(1.1);
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.2s ease-in-out;
}